<div class="card">
    <div class="card-body">
        <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>
        <div class="row align-items-center py-4">
            <div class="col-3">
                <select
                    class="form-control"
                    name="warehouse_id"
                    [(ngModel)]="warehouse_id"
                    placeholder="Selec. Almacen"
                >
                <option value="">Ninguno</option>
                    <ng-container *ngFor="let warehouse of warehouses">
                        <option [value]="warehouse.id">{{ warehouse.name }}</option>
                    </ng-container>
                </select>
                <div class="text-muted fs-7">Almacen de atención.</div>
            </div>
            <div class="col-3">
                <div class="d-flex align-items-center position-relative my-1">
                    <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5"><span class="path1"></span><span
                            class="path2"></span></i> <input type="text" [(ngModel)]="search_product" (keyup.enter)="listKardex()" name="search" data-kt-customer-table-filter="search"
                        class="form-control form-control-solid ps-12" placeholder="Producto">
                </div>
                <small class="form-text text-muted"><b>Filtrar</b> por Nombre de Producto</small>
            </div>
            <div class="col-2">
                <select
                  class="form-control form-select-solid fw-bolder"
                  name="year"
                  placeholder="Filtrar por Año"
                  [(ngModel)]="year"
                >
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                </select>
                <small class="form-text text-muted"><b>Filtrar</b> por Año</small>
            </div>
            <div class="col-2">
                <select
                    class="form-control form-select-solid fw-bolder"
                    name="month"
                    placeholder="Filtrar por Mes"
                    [(ngModel)]="month"
                >
                    <option value="01">Enero</option>
                    <option value="02">Febrero</option>
                    <option value="03">Marzo</option>
                    <option value="04">Abril</option>
                    <option value="05">Mayo</option>
                    <option value="06">Junio</option>
                    <option value="07">Julio</option>
                    <option value="08">Agosto</option>
                    <option value="09">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
                <small class="form-text text-muted"><b>Filtrar</b> por Mes</small>
            </div>
            <div class="col-2 d-flex">
                <button class="btn btn-primary btn-sm mx-1" (click)="listKardex()">
                    <i class="ki-duotone ki-magnifier fs-2"><span class="path1"></span><span class="path2"></span></i> 
                </button>
                <button class="btn btn-dark btn-sm"  (click)="reset()">
                    <i class="ki-duotone ki-loading fs-2"><span class="path1"></span><span class="path2"></span></i> 
                </button>
                <button class="btn btn-success btn-sm mx-1" placement="top-start" ngbTooltip="Exportar Kardex" (click)="exportKardex()">
                    <i class="ki-duotone ki-folder-down fs-2"><span class="path1"></span><span class="path2"></span></i> 
                </button>
            </div>
        </div>

        <div class="row">
            <ng-container *ngFor="let KARDEX of KARDEXS">
                <div class="col-12 py-5">
                    <table class="py-2">
                        <tr> <b> PRODUCTO:</b> {{ KARDEX.title }}</tr>
                        <tr> <b>SKU:</b>  {{ KARDEX.sku }}</tr>
                        <tr> <b>Categoria:</b>  {{ KARDEX.categoria }}</tr>
                    </table>
                    <table>
                        <thead>
                            <tr>
                                <th rowspan="1" colspan="2"></th>
                                <th colspan="3" class="entrada">Entrada</th>
                                <th colspan="3" class="salida">Salida</th>
                                <th colspan="3" class="existencias">Existencias</th>
                            </tr>
                            <tr>
                                <th rowspan="2">Fecha</th>
                                <th rowspan="2">Detalle</th>
                                <th colspan="9" class="subheader">{{ KARDEX.unit_first.name }}</th>
                                <!-- <th colspan="3" class="subheader">UNIDAD</th>
                                <th colspan="3" class="subheader">UNIDAD</th> -->
                            </tr>
                            <tr>
                                <th>Cantidad</th>
                                <th>V/Unitario</th>
                                <th>V/Total</th>
                                <th>Cantidad</th>
                                <th>V/Unitario</th>
                                <th>V/Total</th>
                                <th>Cantidad</th>
                                <th>V/Unitario</th>
                                <th>V/Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let movimient_unit of KARDEX.movimient_units">
                                <ng-container *ngIf="movimient_unit.unit_id == KARDEX.unit_first.id">
                                    <tr *ngFor="let movimient of movimient_unit.movimients">
                                        <td>{{ movimient.fecha }}</td>
                                        <td>{{ movimient.detalle }}</td>
                                        <ng-container *ngIf="movimient.ingreso">
                                            <td>{{ movimient.ingreso.quantity }}</td>
                                            <td>{{ movimient.ingreso.price_unit }}</td>
                                            <td>{{ movimient.ingreso.total }}</td>
                                        </ng-container>
                                        <ng-container *ngIf="!movimient.ingreso">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </ng-container>

                                        <ng-container *ngIf="movimient.salida">
                                            <td>{{ movimient.salida.quantity }}</td>
                                            <td>{{ movimient.salida.price_unit }}</td>
                                            <td>{{ movimient.salida.total }}</td>
                                        </ng-container>
                                        <ng-container *ngIf="!movimient.salida">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </ng-container>

                                        <td>{{ movimient.existencia.quantity }}</td>
                                        <td>{{ movimient.existencia.price_unit }}</td>
                                        <td>{{ movimient.existencia.total }}</td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                            
                            <ng-container *ngFor="let movimient_unit of KARDEX.movimient_units">
                                <ng-container *ngIf="movimient_unit.unit_id != KARDEX.unit_first.id">
                                    <tr class="new-row">
                                        <td colspan="2"></td>
                                        <td colspan="9"><b>{{ getNameUnit(KARDEX,movimient_unit.unit_id) }}</b></td>
                                        <!-- <td colspan="3"><b>CAJA</b></td>
                                        <td colspan="3"><b>CAJA</b></td> -->
                                    </tr>
                                    <tr class="new-row">
                                        <td><b>Fecha</b></td>
                                        <td><b>Detalle</b></td>
                                        <td><b>Cantidad</b></td>
                                        <td><b>V/Unitario</b></td>
                                        <td><b>V/Total</b></td>
                                        <td><b>Cantidad</b></td>
                                        <td><b>V/Unitario</b></td>
                                        <td><b>V/Total</b></td>
                                        <td><b>Cantidad</b></td>
                                        <td><b>V/Unitario</b></td>
                                        <td><b>V/Total</b></td>
                                    </tr>
                        
                                    <tr *ngFor="let movimient of movimient_unit.movimients">
                                        <td>{{ movimient.fecha }}</td>
                                        <td>{{ movimient.detalle }}</td>
                                        <ng-container *ngIf="movimient.ingreso">
                                            <td>{{ movimient.ingreso.quantity }}</td>
                                            <td>{{ movimient.ingreso.price_unit }}</td>
                                            <td>{{ movimient.ingreso.total }}</td>
                                        </ng-container>
                                        <ng-container *ngIf="!movimient.ingreso">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </ng-container>

                                        <ng-container *ngIf="movimient.salida">
                                            <td>{{ movimient.salida.quantity }}</td>
                                            <td>{{ movimient.salida.price_unit }}</td>
                                            <td>{{ movimient.salida.total }}</td>
                                        </ng-container>
                                        <ng-container *ngIf="!movimient.salida">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </ng-container>

                                        <td>{{ movimient.existencia.quantity }}</td>
                                        <td>{{ movimient.existencia.price_unit }}</td>
                                        <td>{{ movimient.existencia.total }}</td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </ng-container>
        </div>
    </div>
</div>
