<div class="modal-header">
    <h5 class="modal-title">Eliminar Sub-Sub-Sección</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="cancelar()"></button>
  </div>
  
  <div class="modal-body">
    <p>¿Deseas eliminar <strong>{{ SUBSECCION1_SELECTED?.nombre }}</strong>?</p>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="confirmarEliminar()">Eliminar</button>
  </div>
  