<div class="modal-header text-center">
  <h4 class="modal-title w-100">Bienvenido</h4>
</div>

<div class="modal-body">
  <p class="text-center text-muted">
    Para ingresar al sistema debe actualizar su contraseña.
  </p>

  <form id="kt_modal_add_user_form" class="form p-3">
    <!-- ID del Usuario -->
    <div class="mb-3" hidden>
      <label for="userId" class="form-label fw-bold">ID del Usuario</label>
      <input
        id="userId"
        type="text"
        class="form-control text-center"
        [(ngModel)]="userId"
        name="userId"
        disabled
      />
    </div>

    <!-- Nueva Contraseña -->
    <div class="mb-3">
      <label for="newPassword" class="form-label fw-bold"
        >Nueva Contraseña</label
      >
      <input
        id="newPassword"
        type="password"
        class="form-control"
        [(ngModel)]="newPassword"
        (input)="checkPasswords()"
        name="newPassword"
        required
      />
      <!-- Mensaje de mínimo 6 caracteres -->
      <small
        class="text-danger"
        *ngIf="newPassword.length > 0 && newPassword.length < 6"
      >
        La contraseña debe tener al menos 6 caracteres ⛔
      </small>
    </div>

    <!-- Confirmar Contraseña -->
    <div class="mb-3 position-relative">
      <label for="confirmPassword" class="form-label fw-bold"
        >Confirmar Contraseña</label
      >
      <div class="input-group">
        <input
          id="confirmPassword"
          type="password"
          class="form-control"
          [(ngModel)]="confirmPassword"
          (input)="checkPasswords()"
          name="confirmPassword"
          required
        />
        <span class="input-group-text">
          <i
            [ngClass]="{
              'text-success bi bi-check-circle': checkPasswords(),
              'text-danger bi bi-x-circle':
                !checkPasswords() && confirmPassword.length > 0
            }"
          ></i>
        </span>
      </div>
      <!-- Mensaje en tiempo real -->
      <small
        [ngClass]="{
          'text-success': checkPasswords(),
          'text-danger': !checkPasswords() && confirmPassword.length > 0
        }"
      >
        {{ getPasswordMessage() }}
      </small>
    </div>

    <!-- Botones -->
    <div class="text-center mt-4">
      <button
        type="button"
        (click)="store()"
        class="btn btn-primary w-100"
        data-kt-users-modal-action="submit"
      >
        <i class="bi bi-key fs-4 me-2"></i>
        <span class="indicator-label">Actualizar contraseña</span>
        <span
          class="spinner-border spinner-border-sm align-middle ms-2"
          *ngIf="isLoading | async"
        ></span>
      </button>

      <button
        type="reset"
        class="btn btn-danger w-100 mt-2"
        (click)="this.logout()"
      >
        <i class="bi bi-box-arrow-right me-2"></i>
        Cerrar
      </button>
    </div>
  </form>
</div>
