<!--begin::Modal content CREATE-->
<div class="modal-content">
    <!--begin::Modal header-->
    <div class="modal-header py-4" id="kt_modal_add_user_header">
        <!--begin::Modal title-->
        <h2 class="fw-bolder">Edit Payment: #{{ PAGO.id }}</h2>
        
        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close" (click)="modal.dismiss()">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                </svg>
            </span>
            <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
    </div>
    <!--end::Modal header-->
    <!--begin::Modal body-->
    <div class="modal-body scroll-y mx-5">
        <!--begin::Form-->
        <form id="kt_modal_add_user_form" class="form" action="#">
             <!--begin::Scroll-->
            <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
                <div class="row justify-content-center">
                    <div class="col-8 py-2">
                        <select
                            class="form-control form-select-solid fw-bolder"
                            name="method_payment_id"
                            placeholder="Selec. Metodo de pago"
                            [(ngModel)]="method_payment_id"
                            (change)="changeMethodPayment()"
                        >
                            <option value="">Selec. Metodo de pago</option>
                            <ng-container *ngFor="let method_payment of method_payments">
                                <option [value]="method_payment.id">{{ method_payment.name }}</option>
                            </ng-container>
                            
                        </select>
                    </div>
                    <div class="col-8 py-2" *ngIf="METHOD_PAYMENT_SELECTED && METHOD_PAYMENT_SELECTED.bancos.length > 0">
                        <select
                            class="form-control form-select-solid fw-bolder"
                            name="banco_id"
                            placeholder="Selec. Banco"
                            [(ngModel)]="banco_id"
                        >
                            <option value="">Selec. Banco</option>
                            <!-- <ng-container > -->
                                <ng-container *ngFor="let BANCO of METHOD_PAYMENT_SELECTED.bancos">
                                    <option [value]="BANCO.id">{{ BANCO.name }}</option>
                                </ng-container>
                                
                            <!-- </ng-container> -->
                            
                        </select>
                    </div>
                    <div class="col-8 py-2">
                        <input type="number" [(ngModel)]="amount_payment" name="amount_payment" class="form-control mb-2" placeholder="Monto" />
                    </div>
                    <div class="col-8 py-2">
                        <label for="formFile" class="form-label">Comprobante</label>
                        <input class="form-control" type="file" accept=".jpeg, .bmp, .jpg, .png, .gif, .webp" (change)="processFile($event)" id="formFile">
                        <div *ngIf="imagen_previzualiza" class="py-2">
                            <img [src]="imagen_previzualiza" width="125px" alt="">
                        </div>
                    </div>
                    <div class="col-8 py-2">
                        <input type="text" [(ngModel)]="n_transaccion" name="n_transaccion" class="form-control mb-2" placeholder="****" />
                    </div>
                    <div class="col-8 py-2">
                        <label class="form-label">Verificación: </label>
                        <div class="form-check form-check-custom form-check-solid mb-2">
                            <input class="form-check-input" type="checkbox" [checked]="verification_payment == 2" (click)="isVerication()" />
                            <label class="form-check-label">Yes</label>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Scroll-->

            <!--begin::Actions-->
            <div class="text-center pt-5">
                <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss()">Cerrar</button>
                <button type="button" (click)="edit()" *ngIf="PAGO.verification != 2" class="btn btn-primary" data-kt-users-modal-action="submit">
                    <span class="indicator-label">Editar Pago</span>

                    <!-- <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading | async"></span> -->
                </button>
            </div>
            <!--end::Actions-->
        </form>
        <!--end::Form-->
    </div>
    <!--end::Modal body-->
</div>
<!--end::Modal content CREATE-->