<!--begin::Modal content CREATE Proyecto-->
<div class="modal-content">
  <!--begin::Modal header-->
  <div class="modal-header" id="kt_modal_add_proyecto_header">
    <h2 class="fw-bolder">Registrar Tipo Documento</h2>
    <div
      class="btn btn-icon btn-sm btn-active-icon-primary"
      data-kt-users-modal-action="close"
      (click)="cerrar()"
    >
      <span class="svg-icon svg-icon-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
        >
          <rect
            opacity="0.5"
            x="6"
            y="17.3"
            width="16"
            height="2"
            rx="1"
            transform="rotate(-45 6 17.3)"
            fill="currentColor"
          />
          <rect
            x="7.4"
            y="6"
            width="16"
            height="2"
            rx="1"
            transform="rotate(45 7.4 6)"
            fill="currentColor"
          />
        </svg>
      </span>
    </div>
  </div>
  <!--end::Modal header-->

  <!--begin::Modal body-->
  <div class="modal-body scroll-y mx-5 my-7">
    <form id="kt_modal_add_proyecto_form" class="form" action="#">
      <div class="card p-5">
        <div class="fv-row mb-4">
          <label class="required fw-bold fs-6 mb-2"
            >Nombre de Tipo Documento:</label
          >
          <input
            type="text"
            name="nombre"
            class="form-control form-control-solid"
            placeholder="Ingrese el nombre Tipo Documento"
            [(ngModel)]="nombre"
          />
        </div>


        <div class="fv-row mb-4">
          <label class="required fw-bold fs-6 mb-2">Urgencia Predeterminada:</label>
          <select 
            name="prioridad" 
            class="form-select form-select-solid" 
            [(ngModel)]="prioridadId">
            <option value="">Seleccione Urgencia</option>
            <option value="normal">Normal</option>
            <option value="urgente">Urgente</option>
            <option value="especial">Especial</option>
          </select>
        </div>
      </div>

      <!-- Botones -->
      <div class="text-center pt-10">
        <button type="button" class="btn btn-light me-3" (click)="cerrar()">
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="store()"
          [disabled]="!nombre"
        >
          <span class="indicator-label">Registrar Tipo Documento</span>
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
            *ngIf="isLoading"
          ></span>
        </button>
      </div>
    </form>
  </div>
  <!--end::Modal body-->
</div>
<!--end::Modal content CREATE Proyecto-->
