<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="active menu-here"
    routerLink="/dashboard"
  >
    <span class="menu-title" translate="MENU.DASHBOARD"></span>
  </a>
</div>

<!-- Layout Builder -->
<!--<div class="menu-item me-lg-1">
  <label class="fw-bold me-2">PRESTADOR O ZONAL PERTENECIENTE:</label>
  <span class="menu-link py-3">{{ userName }} </span>
</div>-->

<!-- MegaMenu -->
<div
  class="menu-item menu-lg-down-accordion me-lg-1"
  data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
  data-kt-menu-placement="bottom-start"
>
  <ng-container *ngIf="user$ | async as _user">
    <div>Hola: {{ _user.full_name }}</div>
  </ng-container>
</div>
