<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="row align-items-center">
                <div class="col-3">
                    <div class="d-flex align-items-center position-relative my-1">
                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5"><span class="path1"></span><span
                                class="path2"></span></i> <input type="text" [(ngModel)]="search" (keyup.enter)="listTransport()" name="search" data-kt-customer-table-filter="search"
                            class="form-control form-control-solid ps-12" placeholder="Search N° Orden">
                    </div>
                </div>
                <div class="col-3">
                    <!-- <label class="required fw-bold fs-6 mb-2">Segmento de Cliente: (*) </label> -->
                    <select
                        class="form-control"
                        name="warehouse_start_id"
                        [(ngModel)]="warehouse_start_id"
                        placeholder="Selec. Almacen"
                    >
                    <option value="">Ninguno</option>
                        <ng-container *ngFor="let warehouse of warehouses_start">
                            <option [value]="warehouse.id">{{ warehouse.name }}</option>
                        </ng-container>
                    </select>
                    <div class="text-muted fs-7">Almacen de atención.</div>
                </div>
                <div class="col-3">
                    <!-- <label class="required fw-bold fs-6 mb-2">Segmento de Cliente: (*) </label> -->
                    <select
                        class="form-control"
                        name="warehouse_end_id"
                        [(ngModel)]="warehouse_end_id"
                        placeholder="Selec. Almacen"
                    >
                    <option value="">Ninguno</option>
                        <ng-container *ngFor="let warehouse of warehouses_end">
                            <option [value]="warehouse.id">{{ warehouse.name }}</option>
                        </ng-container>
                    </select>
                    <div class="text-muted fs-7">Almacen de llegada.</div>
                </div>
                <div class="col-3">
                    <div class="d-flex align-items-center position-relative my-1">
                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5"><span class="path1"></span><span
                                class="path2"></span></i> <input type="text" [(ngModel)]="search_product" (keyup.enter)="listTransport()" name="search" data-kt-customer-table-filter="search"
                            class="form-control form-control-solid ps-12" placeholder="Search Producto">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group input-group-solid">
                        <input type="date"
                        class="form-control form-control-lg form-control-solid"
                        [(ngModel)]="start_date"
                        />
                      </div>
                      <div class="text-muted fs-7">Fecha de inicio(Emisión).</div>
                </div>
                <div class="col-2">
                    <div class="input-group input-group-solid">
                        <input type="date"
                        class="form-control form-control-lg form-control-solid"
                        [(ngModel)]="end_date"
                        />
                      </div>
                      <div class="text-muted fs-7">Fecha fin(Emisión).</div>
                </div>
                <div class="col-1 d-flex">
                    <button class="btn btn-primary btn-sm mx-1" (click)="listTransport()">
                        <i class="ki-duotone ki-magnifier fs-2"><span class="path1"></span><span class="path2"></span></i> 
                    </button>
                    <button class="btn btn-dark btn-sm mx-1"  (click)="resetlistTransport()">
                        <i class="ki-duotone ki-loading fs-2"><span class="path1"></span><span class="path2"></span></i> 
                    </button>
                </div>
                <div class="col-2">
                    <a routerLink="/transportes/registro" class="btn btn-primary">
                        + Add Transport
                    </a>
                </div>
            </div>
            
            <!--end::Search-->
        </div>
        <!--begin::Card title-->
        <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>
    </div>
    <!--end::Card header-->

    <!--begin::Card body-->
    <div class="card-body pt-0">

        <!--begin::Table-->
        <div id="kt_customers_table_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
            <div id="" class="table-responsive">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable" id="kt_customers_table"
                    style="width: 1199.5px;">
                    <thead>
                        <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0" role="row">
                            
                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">N° Orden</span><span
                                    class="dt-column-order"></span></th>

                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                            colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                class="dt-column-title" role="button">Almacen de atención</span><span
                                class="dt-column-order"></span></th>

                                <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Almacen de llegada</span><span
                                    class="dt-column-order"></span></th>

                                <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Responsable</span><span
                                    class="dt-column-order"></span></th>

                                <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Fecha Emisión</span><span
                                    class="dt-column-order"></span></th>

                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Total</span><span
                                    class="dt-column-order"></span></th>

                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Importe</span><span
                                    class="dt-column-order"></span></th>

                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="2" rowspan="1"
                                colspan="1" aria-label="Email: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Igv</span><span
                                    class="dt-column-order"></span></th>


                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="5" rowspan="1"
                                colspan="1" aria-label="Created Date: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">State</span><span
                                    class="dt-column-order"></span></th>

                            <th class="text-end min-w-70px dt-orderable-none" data-dt-column="6" rowspan="1" colspan="1"
                                aria-label="Actions"><span class="dt-column-title">Actions</span><span
                                    class="dt-column-order"></span></th>
                        </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                        <ng-container *ngFor="let TRANSPORT of TRANSPORTS">
                            <tr>
                                <td>
                                    #{{ TRANSPORT.id }}
                                </td>
                                <td>
                                    {{ TRANSPORT.warehouse_start.name }}
                                </td>
                                <td>
                                    {{ TRANSPORT.warehouse_end.name }}
                                </td>

                                <td>
                                    {{ TRANSPORT.user.full_name }}
                                </td>
                                
                                <td>
                                    {{ TRANSPORT.date_emision }}
                                </td>
    
                                <td >
                                    {{ TRANSPORT.total }} PEN</td>

                                    <td >
                                        {{ TRANSPORT.importe }} PEN</td>

                                        <td >
                                            {{ TRANSPORT.igv }} PEN</td>

                                <td >
                                    <span class="badge badge-light-warning" *ngIf="TRANSPORT.state == 1">SOLICITUD</span>
                                    <span class="badge badge-light-danger" *ngIf="TRANSPORT.state == 2">REVISION SALIDA</span>
                                    <span class="badge badge-light-info" *ngIf="TRANSPORT.state == 3">SALIDA</span>
                                    <span class="badge badge-light-success" *ngIf="TRANSPORT.state == 4">LLEGADA</span>
                                    <span class="badge badge-light-dark" *ngIf="TRANSPORT.state == 5">REVISION LLEGADA</span>
                                    <span class="badge badge-light-primary" *ngIf="TRANSPORT.state == 6">ENTREGADO</span>
                                </td>
    
                                <td class="">
                                    <a [routerLink]="'/transportes/listado/editar/'+TRANSPORT.id" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                        <i class="ki-duotone ki-pencil fs-2"><span class="path1"></span><span class="path2"></span></i> 
                                    </a>
    
                                    <a *ngIf="TRANSPORT.state < 3" href="#" onclick="return false;" (click)="deleteTransport(TRANSPORT)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                        <i class="ki-duotone ki-trash fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                        
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
            <ngb-pagination
                [collectionSize]="totalPages"
                [(page)]="currentPage"
                [pageSize]="25"
                [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="loadPage($event)"
            ></ngb-pagination>
        </div>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>