.border-dashed {
    border-style: dashed !important;
}

.table-responsive {
    font-size: 0.8rem;
    thead th {
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
}